*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2em;
  display: grid;
  gap: 1em;
}

button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  opacity: 0.6;
  border: 1px solid #999999;
}

.btn-primary {
  background-color: #0b5ed7;
  color: #c2d1e7;
}

.btn-success {
  background-color: #157347;
  color: #bee6d3;
}

.btn-danger {
  background-color: #bb2d3b;
  color: #d8bfc1;
}

.btn-warning {
  background-color: #ffca2c;
  color: #efe6d2;
}

.text-decoration-line-through {
  text-decoration: line-through;
}

.main_action {
  display: none;
  width: 90%;
  margin: 0 auto;
}

.main_action form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.main_action form > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.main_action form > div:last-child {
  border-top: 1px solid #8b8b8b;
  margin-top: 0.5em;
  flex-direction: row;
  gap: 10px;
}

button {
  font-size: 1.125rem;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
}

.main_action button {
  margin-top: 1em;
}

button:hover {
  opacity: 0.75;
}

fieldset {
  display: flex;
  border-radius: 3px;
  padding: 1em;
  align-items: center;
  border: 2px solid #e9e5e5;
}

fieldset div {
  width: 100%;
}

input,
select {
  font-size: 1rem;
  border-width: 1px;
  border-radius: 3px;
  padding: 3px 5px;
  border: 2px solid #e9e5e5;
}

.main {
  display: grid;
  gap: 2em;
}

.main_list {
  height: calc(100vh - 130px);
}

.main_list > p {
  text-align: center;
  color: #97121a;
  font-size: 3rem;
}

.taches_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
}

.taches__item {
  background-color: #f8f8f8;
  list-style: none;
  padding: 0.75em;
  border-radius: 10px;
  gap: 1em;
}

.taches__item-wrapper {
  display: grid;
  gap: 1em;

  & .taches__item_head {
    display: grid;
    gap: 0.5em;
  }

  & .taches__item__footer {
    width: 100%;
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 650px) {
  .main_action {
    width: 50%;
  }
}
